dsi_schema_assurance==1.0.4
python-dotenv==1.0.1
telicent_ies_tool==1.0.3
requests==2.32.5
PyJWT==2.12.1
Werkzeug==3.1.7
opentelemetry-api 
pandas==2.2.3
telicent-lib==5.0.2
pydantic==2.10.6
telicent_label_builder==0.1.7